{% extends  'usuario/index.html'%}

{% block cabecera %}
    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading"><font color="#f5deb3">Bolsa de Empleo</font></h1>
                        <p class="intro-text">
                            <font color="white">
                                EDITAR INFORMACION
                            </font>
                        </p>

                    </div>
                </div>
            </div>
        </div>
    </header>
{%  endblock %}



{% block contenido %}
    <form method="post" action="'/Editar_Usuario/{{ id }}">
        {{ formulario.as_p }}
        <input class="btn-default" type="submit" value="Actualizar">

    </form>

{% endblock %}
