{% extends 'usuario/principal.html' %}

{% block cabecera %}
    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading"><font color="#f5deb3">Bolsa de Empleo</font></h1>
                        <p class="intro-text">
                            <font color="white">
                                Porfavor suministrenos su informacion para completar su registro.
                            </font>
                        </p>

                    </div>
                </div>
            </div>
        </div>
    </header>
{%  endblock %}



{% block contenido %}
    <style>
        form input{
            color: #080808;
        }
    </style>
    <form method="post"  action="/registro/">
        {% csrf_token %}
        {{ formulario.as_p }}
        <input class="btn-default" type="submit" value="Registrarse">
    </form>
{% endblock %}